<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twenty One Pilots | TOUR 2022 | OUT NOW </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/css/main.css'>

</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="nav">
<!--                <img src="../static/img/named_logo.png" alt="Icy and Scaled" width="600px"> -->
                <ul class="menu">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a>
                            |
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Tour
                        </a>
                    </li>
                    <li>
                        <a>
                            |
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Merch
                        </a>
                    </li>
                    <li>
                        <a href="#" class="refers">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a>
                            |
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="booking">
                    <li>
                        <a>

                        </a>
                    </li>
                    <li>
                        <a href="#" class="tickets_button">
                            Get tickets
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section id="about" class="about">
        <div class="container">
            <div class="nav2">
                <img class="listening" src="../static/img/record.png" alt="Icy and Scaled" width="500px">
                <ul class="record">
                    <li>
                        <a>
                            New album "Scaled and Icy" available now
                        </a>
                    </li>
                    <li>
                        <a href="#" class="listen">
                            Listen now
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <div class="gallery">
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="container">

        </div>
    </footer>
</body>
</html>