
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twenty One Pilots | TOUR 2022 | OUT NOW </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="nav">
                <img src="../static/img/named_logo.png" alt="Icy and Scaled">
            </div>
        </div>
    </header>
    <section id="about" class="about">
        <div class="container">

        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="container">

        </div>
    </footer>
</body>
</html>