body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: #03b0b1 no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: #fff;
}

header a:hover {
    color: #FF69B4;
}

.nav {
    display: flex;
}

.nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0.2em;
}

.nav li {
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.ref2 {
    display: flex;
}

.refers {
    display: flex;
    margin-left: auto;
}

.fa-underline {
    text-decoration: underline;
}

.rainbow {
    background: url('../img/bg-rainbow-short.png') no-repeat fixed center top / cover;
    background-size: 100%;
}

.booking {
    padding-top: 600px;
    margin-bottom: 50px;
}

.booking a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.tickets_button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 0px;
    background: #FF69B4;
    box-shadow: 0 -3px #FF69B4 inset;
    transition: 0.1s;
}

.listen {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 0px;
    background: #FF69B4;
    box-shadow: 0 -3px #FF69B4 inset;
    transition: 0.2s;
}

.record {
    padding-top: 80px;
}

.record li {
    margin-top: 100px;
    margin-left: 80px;
}

.record li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.listening {
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav2 {
    display: flex;
    color: #FF69B4;
}

.gallery {
    background: #FF69B4 no-repeat;
    display: flex;
}

.subscribe {
    margin-top: 225px;
    margin-left: 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #fff;
}

.subscribe li {
    display: flex;
}

.subscribe li a {
    margin-left: 10px;
}

.patches {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 80px;
}

.copyrights {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.sub_button {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #FF69B4;
    padding: 20px;
    background: #FFFFFF;
}

.form-control {;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding: 20px;
    border-radius: 0px;
}

.abc {
    display: flex;
    margin-left: 10px;
}